:root {
  --color-primary: #1d7e4c;
  --color-primary-2: #1fbf6d;
  --color-selected-blue: #d6e7fa;
  --color-secondary: #dde7d1;
  --color-gray-1: #eee; /* Light Grey */
  --color-gray-2: #c1c1c1; /* Medium Grey */
  --color-gray-3: #898989; /* Dark Grey */
  --color-black: #000;
  --color-white: #fff;
}

/* Dark Mode Variables */
[data-theme="dark"] {
  --color-primary: #1d7e4c;
  --color-primary-2: #1fbf6d;
  --color-selected-blue: #243e64;
  --color-secondary: #2a3520;
  --color-gray-1: #444444; /* Dark Grey */
  --color-gray-2: #606060; /* Medium Grey */
  --color-gray-3: #777777; /* Light Grey */
  --color-black: #fff;
  --color-white: #2a2a2a;
}

// Editor Styles
.tbx-editor-container {
  padding: 0;
  margin: 0;
  container: editor / inline-size;
}

#typeblox-editor {
  @tailwind components;
  @tailwind utilities;

  button,
  .tbx-toolbar button,
  .tbx-contextual-menu button,
  .tbx-toolbar .tbx-contextual-menu button {
    background: none;
    border: 0;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
      background-color: var(--color-gray-1);
    }
    &.tbx-active {
      background-color: var(--color-gray-2);
    }

    &.tbx-bg-primary {
      background-color: var(--color-primary);
      color: white;

      &:hover {
        background-color: var(--color-primary);
        filter: brightness(1.2);
      }
    }
  }

  input,
  textarea {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-gray-2);
    border-radius: 4px;
  }

  .icon {
    width: auto;
  }

  [data-is-selected="true"] .tbx-code-block {
    background-color: var(--color-selected-blue);
  }

  [contenteditable]:empty:after {
    content: attr(placeholder);
    color: var(--color-gray-2);
  }

  > a:focus {
    background: var(--color-gray-2);
  }

  .tbx-block {
    margin: 2px auto;
    border-radius: 4px;
    cursor: text;

    .tbx-actions {
      display: flex;
      position: absolute;
      opacity: 0;
      z-index: 3;

      button {
        padding: 0.1rem;
        background-color: var(--color-white);

        .icon {
          width: 20px;
        }
      }
    }

    &:hover .tbx-actions {
      opacity: 1;
    }

    .tbx-image-block,
    .tbx-video-block {
      width: 100%;
      position: relative;
      cursor: pointer;

      .tbx-image-wrapper {
        max-width: 100%;
      }

      &[data-focused="true"] {
        img,
        iframe {
          border: 1px solid var(--color-primary);
        }

        .resize-handle {
          position: absolute;
          bottom: -5px;
          right: -5px;
          width: 14px;
          height: 14px;
          background: var(--color-primary);
          border: 1px solid var(--color-white);
          cursor: nwse-resize;
          z-index: 10;

          &:hover {
            background: rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
          }
        }
      }
    }

    .tbx-placeholder {
      display: flex;
      padding: 10px 20px;
      background-color: var(--color-gray-1);
      border-color: var(--color-gray-2);
      border-width: 2px;
      border-radius: 4px;
      width: 100%;
    }
  }

  .tbx-block[data-is-selected="true"] {
    background-color: var(--color-selected-blue);
  }

  // Button Styles
  .tbx-button {
    display: flex;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid var(--color-gray-2);

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      border: 1px solid var(--color-gray-3);
    }

    &.tbx-small {
      padding: 1px 4px;
      font-size: 14px;
      border: 0;
    }

    &.tbx-active {
      background: var(--color-primary);
      border-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  // Contextual Menu
  .tbx-contextual-menu {
    max-height: 350px;
    min-width: 250px;
    overflow-y: auto;
    z-index: 4;
    border: 1px solid var(--color-gray-2);
    background-color: var(--color-white);
    padding: 0.5rem;

    &:has(h5) {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }

    h5 {
      margin: 0;
      padding: 1rem 0.5rem 0.5rem;
      position: sticky;
      background-color: var(--color-white);
      top: 0;
      left: 0;
    }

    a {
      text-decoration: none !important;
      color: var(--color-black) !important;

      &.tbx-active {
        background-color: var(--color-gray-1);
      }
    }

    &.tbx-size-medium {
      min-width: 400px;
      max-width: 100%;
    }

    // Tabs
    .tbx-tabs {
      button {
        background: none;
        border: 0;
      }

      button.tbx-active {
        font-weight: 600;
        background-color: transparent;
        border-bottom: 2px solid var(--color-black);
      }
    }
  }

  .tbx-toolbar {
    max-height: 350px;
    max-width: 100%;
    z-index: 4;
    border: 1px solid var(--color-gray-2);
    background-color: var(--color-white);
    padding: 0.5rem;
    flex-wrap: wrap;

    &-block {
      padding: 0.5rem;
      margin: 0;
      border: 0;
      border-bottom: 1px solid var(--color-gray-2);
      width: inherit;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    button {
      display: flex;
      align-items: center;
      padding: 0.3rem 0.5rem;
    }
  }

  // Menu Container
  .tbx-menu-container {
    z-index: 4;
  }

  // Alignment Utilities
  .tbx-block {
    &:has(img[data-tbx-alignment="center"]),
    &:has(iframe[data-tbx-alignment="center"]) {
      text-align: center;
    }

    &:has(img[data-tbx-alignment="right"]),
    &:has(iframe[data-tbx-alignment="right"]) {
      float: right;
    }
  }

  .tbx-modal {
    margin: 0;

    .size-s {
      max-width: 500px;
    }
    .size-m {
      max-width: 800px;
    }

    .tbx-body {
      background: var(--color-white);
      color: var(--color-black);
    }
  }

  .divider {
    border-left: 1px solid var(--color-gray-2);
  }

  .tbx-over-element {
    border-top: 2px solid var(--color-black);
  }

  #tbx-watermark {
    position: static;
    margin: 0.2rem;
    text-align: right;
    opacity: 0.7;

    a {
      display: flex;
      font-size: small;
      align-items: center;
      justify-content: end;
      gap: 0.5rem;
      color: var(--color-black);
      text-decoration: none;
    }

    svg path {
      fill: var(--color-black);
    }
  }
}

@container editor (width < 500px) {
  #typeblox-editor {
    .tbx-block {
      .tbx-actions {
        flex-direction: column;

        button {
          padding: 0;
        }
      }
    }
  }
}
